In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key
#print(g_key)

In [2]:
# Store the CSV you created in the first part of the module into a DataFrame. 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-05-15 14:34:26,-21.2000,-175.2000,60.96,94,20,5.75
1,1,Along,IN,2022-05-15 14:41:25,28.1667,94.7667,71.42,98,97,1.30
2,2,Rio Muerto,MX,2022-05-15 14:41:51,27.4167,-110.2333,80.02,43,7,9.33
3,3,Leh,IN,2022-05-15 14:41:52,34.1667,77.5833,53.47,25,79,8.41
4,4,Fortuna,US,2022-05-15 14:41:52,40.5982,-124.1573,56.93,97,100,0.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Generate a heatmap of temperature...

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
#print(locations)

# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]

max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
#print(max_temp)    

# Assign the figure variable.
fig = gmaps.figure()
#print(fig)

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rio Muerto,MX,2022-05-15 14:41:51,27.4167,-110.2333,80.02,43,7,9.33
8,8,Rikitea,PF,2022-05-15 14:34:32,-23.1203,-134.9692,76.80,71,100,19.33
9,9,Bengkulu,ID,2022-05-15 14:34:39,-3.8004,102.2655,78.49,90,100,3.20
12,12,Ghatal,IN,2022-05-15 14:41:53,22.6667,87.7167,88.16,64,67,18.52
13,13,Champerico,GT,2022-05-15 14:41:54,14.3000,-91.9167,83.59,70,99,3.36
14,14,Arraial Do Cabo,BR,2022-05-15 14:38:34,-22.9661,-42.0278,76.96,69,75,17.27
15,15,Atuona,PF,2022-05-15 14:37:12,-9.8000,-139.0333,78.46,76,12,18.10
23,23,Tautira,PF,2022-05-15 14:41:57,-17.7333,-149.1500,80.02,76,26,12.15
26,26,Salinopolis,BR,2022-05-15 14:41:58,-0.6136,-47.3561,84.76,70,90,12.41
37,37,Puerto Ayora,EC,2022-05-15 14:38:33,-0.7393,-90.3518,78.76,93,59,1.99

In [13]:
#Check for nulls
preferred_cities_df.count()

#Drop nulls
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       209
City          209
Country       209
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                City Country  Max Temp      Lat       Lng Hotel Name
2         Rio Muerto      MX     80.02  27.4167 -110.2333
8            Rikitea      PF     76.80 -23.1203 -134.9692
9           Bengkulu      ID     78.49  -3.8004  102.2655
12            Ghatal      IN     88.16  22.6667   87.7167
13        Champerico      GT     83.59  14.3000  -91.9167
..               ...     ...       ...      ...       ...        ...
566      Finschhafen      PG     80.94  -6.6024  147.8681
568  Puerto Ayacucho      VE     86.97   5.6639  -67.6236
570         Linhares      BR     81.81 -19.3911  -40.0722
576        Effingham      US     82.85  32.3669  -81.3332
577         Kutiyana      IN     85.42  21.6233   69.9817

[209 rows x 6 columns]

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rio Muerto,MX,80.02,27.4167,-110.2333,
8,Rikitea,PF,76.80,-23.1203,-134.9692,People ThankYou
9,Bengkulu,ID,78.49,-3.8004,102.2655,Grage Hotel Bengkulu
12,Ghatal,IN,88.16,22.6667,87.7167,Mongal Bhawan
13,Champerico,GT,83.59,14.3000,-91.9167,"Hotel y restaurante ""El Diamante"""
14,Arraial Do Cabo,BR,76.96,-22.9661,-42.0278,Pousada Porto Praia
15,Atuona,PF,78.46,-9.8000,-139.0333,Villa Enata
23,Tautira,PF,80.02,-17.7333,-149.1500,Pension Oaoa
26,Salinopolis,BR,84.76,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
37,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]