In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Store the CSV you created in the first part of the module into a DataFrame. 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2022-05-15 14:34:26,-21.2000,-175.2000,60.96,94,20,5.75
1,1,Along,IN,2022-05-15 14:41:25,28.1667,94.7667,71.42,98,97,1.30
2,2,Rio Muerto,MX,2022-05-15 14:41:51,27.4167,-110.2333,80.02,43,7,9.33
3,3,Leh,IN,2022-05-15 14:41:52,34.1667,77.5833,53.47,25,79,8.41
4,4,Fortuna,US,2022-05-15 14:41:52,40.5982,-124.1573,56.93,97,100,0.00

In [8]:
city_data_df.types

AttributeError: 'DataFrame' object has no attribute 'types'